<h1>Create New Message</h1>
<form method="POST" action="/new">
	<label for="name">Enter your name</label>
	<input type="text" name="messageUser" />
	<label for="name">Enter your message</label>
	<input type="text" name="messageText" />
	<button type="submit">Submit</button>
</form>
